:root {
  --main-text-color: #757575;
  --tittle-color: #212121;
  --secondary-color: #ffffff;
  --accent-color: #2196f3;
  --hero-bkg-color: #2f303a;
  --hover-button-color: #188ce8;
  --bkg-color: #f5f4fa;
  --border-color: #eeeeee;
  --header-border-color: #ececec;
  --icon-fill-color: #afb1b8;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.nav-list,
.contact-list,
.list,
.benefits__list,
.address-list,
.mob-menu-nav-list,
.mob-menu-contact-list,
.mob-menu-social-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.mob-menu-nav-link,
.mob-menu-contact-link-mail,
.mob-menu-contact-link-tel,
.mob-menu-social-link {
  text-decoration: none;
}

.image,
.image-team,
.image-work {
  display: block;
  max-width: 100%;
  height: auto;
}

.logo,
.logofooter {
  display: block;
}

body {
  background-color: var(--secondary-color);
  font-family: Roboto, sans-serif;
  color: var(--main-text-color);
  font-size: 14px;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.subtitle {
  color: var(--tittle-color);
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .subtitle {
    margin-bottom: 50px;
    font-size: 36px;
  }
}

.logo {
  display: block;
  color: #000000;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 24px;
}

@media screen and (max-width: 1199.98px) {
  .logo {
    margin-right: 88px;
    font-size: 24px;
    line-height: 1.17;
  }
}

.logoweb {
  color: var(--accent-color);
}

.logofooter {
  color: var(--secondary-color);
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
}

@media screen and (max-width: 1199.98px) {
  .logofooter {
    text-align: center;
  }
}

.button {
  background-color: var(--accent-color);
  color: var(--secondary-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  padding-top: 10px;
  padding-right: 32px;
  padding-bottom: 10px;
  padding-left: 32px;
  border: transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px 0px #00000040;
          box-shadow: 0px 4px 4px 0px #00000040;
  -webkit-transition: color, background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color, background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover, .button:focus {
  background-color: var(--hover-button-color);
  color: var(--secondary-color);
}

.modal-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 8px;
  right: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50px;
  width: 30px;
  height: 30px;
  padding: 0;
  background-color: var(--secondary-color);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover {
  fill: var(--accent-color);
  cursor: pointer;
}

.form-wrapper-btn {
  font-family: Roboto;
  font-style: 700;
  font-size: 16px;
  line-height: 1.88;
  background-color: var(--accent-color);
  color: var(--secondary-color);
  -webkit-box-shadow: 0px 4px 4px 0px #00000026;
          box-shadow: 0px 4px 4px 0px #00000026;
  border: transparent;
  border-radius: 4px;
  padding: 10px 55px;
  cursor: pointer;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-wrapper-btn:hover, .form-wrapper-btn:focus {
  background-color: var(--hover-button-color);
}

.form-btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-color: var(--accent-color);
  color: var(--secondary-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  padding-top: 10px;
  padding-right: 29px;
  padding-bottom: 10px;
  padding-left: 28px;
  border: transparent;
  border-radius: 4px;
}

@media screen and (min-width: 1200px) {
  .form-btn {
    margin-left: 12px;
  }
}

.form-btn:hover, .form-btn:focus {
  background-color: var(--hover-button-color);
}

.current-button {
  background-color: var(--accent-color);
  color: var(--secondary-color);
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  padding: 6px 22px;
  border-radius: 4px;
  border: transparent;
}

.portfolio-button {
  background-color: var(--bkg-color);
  color: var(--tittle-color);
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  padding: 6px 22px;
  border-radius: 4px;
  border: transparent;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-button:hover, .portfolio-button:focus {
  background-color: var(--accent-color);
  color: var(--secondary-color);
  -webkit-box-shadow: 0px 4px 4px 0px #00000040;
          box-shadow: 0px 4px 4px 0px #00000040;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000033;
  z-index: 10;
  -webkit-transition: opacity 500ms, visibility 500ms;
  transition: opacity 500ms, visibility 500ms;
  overflow-y: scroll;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal-wrapper {
  -webkit-transform: translate(-50%, -50%) scale(0.5);
          transform: translate(-50%, -50%) scale(0.5);
  opacity: 0;
}

.backdrop .modal-wrapper {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}

.modal-wrapper {
  position: absolute;
  left: 50%;
  background-color: var(--secondary-color);
  border-radius: 4px;
  padding: 40px;
  -webkit-transition: opacity 400ms ease-in-out 200ms, -webkit-transform 400ms ease-in-out 200ms;
  transition: opacity 400ms ease-in-out 200ms, -webkit-transform 400ms ease-in-out 200ms;
  transition: transform 400ms ease-in-out 200ms, opacity 400ms ease-in-out 200ms;
  transition: transform 400ms ease-in-out 200ms, opacity 400ms ease-in-out 200ms, -webkit-transform 400ms ease-in-out 200ms;
}

@media screen and (max-width: 479.98px) {
  .modal-wrapper {
    width: 100%;
  }
}

@media screen and (max-width: 767.98px) {
  .modal-wrapper {
    top: 55%;
  }
}

@media screen and (min-width: 768px) {
  .modal-wrapper {
    top: 50%;
  }
}

@media screen and (min-width: 480px) and (max-width: 1199.98px) {
  .modal-wrapper {
    width: 450px;
    height: 609px;
  }
}

@media screen and (min-width: 1200px) {
  .modal-wrapper {
    width: 528px;
    height: 581px;
  }
}

.wrapper-text {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.17;
  color: #212121;
  margin-bottom: 12px;
}

input,
textarea {
  outline: none;
}

.form-wrapper {
  width: 100%;
}

.form-field {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
}

.form-field-coment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
}

.form-field-coment label {
  margin-bottom: 4px;
}

.form-agree {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

.form-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form-input {
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:hover, .form-input:focus {
  border-color: var(--accent-color);
  cursor: pointer;
  padding-left: 35px;
}

.form-input:hover ~ .form-icon {
  fill: var(--accent-color);
}

.form-input:focus ~ .form-icon {
  fill: var(--accent-color);
}

.form-textarea {
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-textarea:hover, .form-textarea:focus {
  border-color: var(--accent-color);
}

.form-icon {
  position: absolute;
  bottom: 11px;
  left: 12px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-label-agree {
  margin-left: 9px;
}

.form-link-agree {
  color: var(--accent-color);
}

.form-field input,
textarea {
  margin: 0;
  padding: 11px 12px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
}

.form-field label {
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  color: var(--main-text-color);
}

.form-field textarea::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-field textarea:-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-field textarea::-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-field textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

textarea {
  width: 100%;
  height: 120px;
  resize: none;
}

@media screen and (min-width: 480px) and (max-width: 1199.98px) {
  .form-agree-text {
    font-size: 12px;
    line-height: 1.17;
  }
}

.checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.custom-checkbox {
  width: 16px;
  height: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  outline: 2px solid var(--tittle-color);
  outline-offset: -2px;
  border-radius: 4px;
  margin-right: 7px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-icon-checkbox {
  opacity: 0;
  fill: var(--secondary-color);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked + .custom-checkbox .form-icon-checkbox {
  opacity: 1;
  fill: var(--secondary-color);
}

.checkbox:checked + .custom-checkbox {
  background-color: var(--accent-color);
  outline-color: var(--accent-color);
}

.checkbox:focus + .custom-checkbox {
  opacity: 1;
  fill: var(--secondary-color);
  outline-color: var(--accent-color);
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .form-list {
    margin-top: 60px;
  }
}

@media screen and (max-width: 1199.98px) {
  .form-list {
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .form-list {
    margin-left: 93px;
  }
}

.form-text {
  margin-bottom: 20px;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  color: var(--secondary-color);
  margin-bottom: 20px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

@media screen and (max-width: 1199.98px) {
  .form-text {
    text-align: center;
  }
}

.form-footer {
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .form-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.form-btn-icon {
  margin-left: 10px;
  fill: var(--secondary-color);
}

.footer-input {
  width: 450px;
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: inherit;
  -webkit-box-shadow: 0px 4px 4px 0px #00000026;
          box-shadow: 0px 4px 4px 0px #00000026;
  border: 1px solid #ffffff4d;
  border-radius: 4px;
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.25;
  color: var(--secondary-color);
  margin-bottom: 20px;
}

@media screen and (max-width: 480px) {
  .footer-input {
    width: 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .footer-input {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .footer-input {
    width: 358px;
    margin-bottom: 0;
  }
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  background-color: var(--secondary-color);
  color: var(--icon-fill-color);
  border-radius: 50px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover, .social-link:focus {
  background-color: var(--accent-color);
  color: var(--secondary-color);
}

.icon-social:not(:last-child) {
  margin-right: 10px;
}

.icon-picture {
  fill: currentColor;
}

.footer-social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff1a;
  border-radius: 50%;
  color: var(--secondary-color);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover, .footer-social-link:focus {
  background-color: var(--accent-color);
}

.footer-social-icon {
  fill: var(--secondary-color);
}

.footer-social-list:not(:last-child) {
  margin-right: 10px;
}

.mob-menu {
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: scroll;
  padding: 48px 40px;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 999;
}

@media screen and (min-width: 768px) {
  .mob-menu {
    display: none;
  }
}

.mob-menu.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

@media screen and (max-width: 767.98px) {
  .mob-menu-nav-list {
    font-family: Roboto;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    color: var(--tittle-color);
  }
}

@media screen and (max-width: 767.98px) {
  .mob-menu-nav-link {
    color: inherit;
  }
}

@media screen and (max-width: 767.98px) {
  .mob-menu-nav-item:not(:last-child) {
    margin-bottom: 32px;
  }
}

@media screen and (max-width: 767.98px) {
  .mob-menu-contact-list {
    margin-top: auto;
  }
}

@media screen and (max-width: 767.98px) {
  .mob-menu-contact-item {
    margin-bottom: 32px;
  }
}

@media screen and (max-width: 767.98px) {
  .mob-menu-contact-link-tel {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.17;
    color: var(--accent-color);
  }
}

@media screen and (max-width: 480px) {
  .mob-menu-contact-link-tel {
    font-size: 28px;
  }
}

@media screen and (max-width: 767.98px) {
  .mob-menu-contact-link-mail {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    color: var(--main-text-color);
  }
}

@media screen and (max-width: 767.98px) {
  .mob-menu-social-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 64px;
  }
}

.mob-menu-social-item {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  color: var(--accent-color);
}

.mob-menu-social-item:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  margin-right: 10px;
}

.mob-menu-social-link {
  color: inherit;
}

.mob-btn,
.mob-menu-btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

.mob-menu-btn {
  position: absolute;
  top: 11px;
  right: 11px;
  padding: 21px;
}

.mob-menu-btn:hover, .mob-menu-btn:focus {
  color: var(--accent-color);
}

.mob-btn {
  padding: 24px 16px;
}

.mob-btn:hover, .mob-btn:focus {
  color: var(--accent-color);
}

@media screen and (min-width: 767.98px) {
  .mob-btn {
    display: none;
  }
}

.icon-menu,
.icon-close {
  fill: #000000;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-menu:hover, .icon-menu:focus,
.icon-close:hover,
.icon-close:focus {
  fill: currentColor;
}

.icon-close {
  fill: #000000;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-close:hover, .icon-close:focus {
  fill: currentColor;
}

.header {
  border-bottom: 1px solid var(--header-border-color);
}

.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1199.98px) {
  .page-header {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767.98px) {
  .navigation {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767.98px) {
  .nav-list {
    display: none;
  }
}

.nav-item {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.nav-item:not(:last-child) {
  margin-right: 50px;
}

.nav-list-link {
  position: relative;
  color: var(--tittle-color);
  text-decoration: none;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list-link:hover, .nav-list-link:focus {
  color: var(--accent-color);
}

.nav-list-link.current::after {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: currentColor;
  border-radius: 2px;
}

.current {
  color: var(--accent-color);
}

.contact-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}

@media screen and (max-width: 767.98px) {
  .contact-list {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .contact-list {
    display: block;
  }
}

.contact-list-link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: var(--main-text-color);
  text-decoration: none;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1199.98px) {
  .contact-list-link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

@media screen and (max-width: 1199.98px) {
  .contact-list-link {
    font-size: 12px;
    line-height: 1.17;
  }
}

.contact-list-link:hover, .contact-list-link:focus {
  color: var(--accent-color);
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .contact-list-link.email {
    padding-top: 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .contact-list-link.number {
    padding-bottom: 20px;
  }
}

.contact-icon {
  margin-right: 10px;
  fill: currentColor;
}

@media screen and (max-width: 1199.98px) {
  .contact-icon {
    margin-right: 8px;
  }
}

@media screen and (max-width: 1199.98px) {
  .envelope {
    width: 14px;
    height: 10px;
  }
}

@media screen and (max-width: 1199.98px) {
  .mobphone {
    width: 10px;
    height: 14px;
  }
}

@media screen and (max-width: 1199.98px) {
  .contact-item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1199.98px) {
  .contact-item:not(:last-child) {
    margin-right: 50px;
  }
}

.hero {
  background-color: var(--hero-bkg-color);
  text-align: center;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (max-width: 1199.98px) {
  .hero {
    padding-top: 118px;
    padding-bottom: 118px;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

@media screen and (max-width: 767.98px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/hero-photo-sm.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero-photo-sm.jpg);
  }
}

@media screen and (max-width: 767.98px) and (min-device-pixel-ratio: 2), screen and (max-width: 767.98px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767.98px) and (min-resolution: 192dpi), screen and (max-width: 767.98px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/hero-photo-sm@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero-photo-sm@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/hero-photo-md.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero-photo-md.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/hero-photo-md@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero-photo-md@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/hero-photo-lg.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero-photo-lg.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/hero-photo-lg@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero-photo-lg@2x.jpg);
  }
}

.tittle {
  color: var(--secondary-color);
  font-family: 'Roboto';
  font-weight: 900;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
}

@media screen and (min-width: 480px) {
  .tittle {
    font-size: 26px;
    line-height: 1.62;
  }
}

@media screen and (min-width: 1200px) {
  .tittle {
    font-size: 44px;
    line-height: 1.36;
  }
}

.benefits {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .benefits {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 768px) {
  .benefits__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .benefits__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.benefits__item {
  display: block;
}

@media screen and (max-width: 767.98px) {
  .benefits__item {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .benefits__item {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .benefits__item {
    width: 270px;
  }
}

@media screen and (min-width: 768px) {
  .benefits__item:not(:nth-child(2n)) {
    margin-right: 30px;
  }
}

.benefits-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 120px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--bkg-color);
  background-size: cover;
  margin-bottom: 30px;
}

.benefits-icon__subtitle {
  color: var(--tittle-color);
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

@media screen and (max-width: 767.98px) {
  .benefits-icon__subtitle {
    text-align: center;
  }
}

.benefits-icon__text {
  font-family: 'Roboto';
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .item:not(:last-child) {
    margin-right: 30px;
  }
}

.work {
  display: none;
  padding-bottom: 94px;
}

@media screen and (min-width: 1200px) {
  .work {
    display: block;
  }
}

.work__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
}

.work__item {
  position: relative;
}

.work__item::before {
  position: absolute;
  content: '';
  display: block;
  width: 100%;
  height: 70px;
  bottom: 0;
  right: 0;
  background-color: rgba(47, 48, 58, 0.8);
}

.work__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  width: 100%;
  bottom: 27px;
  text-transform: uppercase;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.team {
  background-color: var(--bkg-color);
}

@media screen and (max-width: 1199.98px) {
  .team {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 480px) {
  .team-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 480px) and (max-width: 767.98px) {
  .team-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .team-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.team-item {
  background-color: var(--secondary-color);
  padding-bottom: 30px;
  border: transparent;
  -webkit-box-shadow: 0px 4px 4px 0px #00000040;
          box-shadow: 0px 4px 4px 0px #00000040;
}

@media screen and (min-width: 480px) and (max-width: 767.98px) {
  .team-item {
    width: 450px;
  }
}

@media screen and (max-width: 767.98px) {
  .team-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .team-item {
    width: 354px;
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .team-item:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
  .team-item:nth-child(2n) {
    margin-right: 0;
  }
}

@media screen and (min-width: 1200px) {
  .team-item:not(:last-child) {
    margin-right: 30px;
  }
}

.image-team {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .image-team {
    width: 270px;
    height: 260px;
  }
}

.subtitle-team {
  color: var(--tittle-color);
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  text-align: center;
}

.text {
  font-family: 'Roboto';
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 16px;
}

.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 479.98px) {
  .clients__list {
    margin: -15px;
  }
}

@media screen and (min-width: 1200px) {
  .clients__list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

@media screen and (max-width: 479.98px) {
  .clients__item {
    margin: 15px;
    -ms-flex-preferred-size: calc((100% - 60px) / 2);
        flex-basis: calc((100% - 60px) / 2);
  }
}

@media screen and (min-width: 480px) and (max-width: 767.98px) {
  .clients__item:not(:nth-child(2n)) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 768px) {
  .clients__item:not(:nth-child(3n + 3)) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 480px) and (max-width: 1199.98px) {
  .clients__item:not(:nth-child(n+4)) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .clients__item:not(:last-child) {
    margin-right: 30px;
  }
}

.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 92px;
  border: 1px solid var(--icon-fill-color);
  border-radius: 4px;
  color: var(--icon-fill-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767.98px) {
  .clients__link {
    width: 210px;
  }
}

@media screen and (min-width: 768px) {
  .clients__link {
    width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .clients__link {
    width: 170px;
  }
}

.clients__link:hover, .clients__link:focus {
  color: var(--accent-color);
  border-color: solid var(--accent-color);
}

.clients__icon {
  fill: currentColor;
}

.footer {
  background-color: var(--hero-bkg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .adress {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media screen and (min-width: 1200px) {
  .adress {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media screen and (max-width: 767.98px) {
  .address {
    margin-bottom: 60px;
  }
}

.address-list {
  color: var(--secondary-color);
  font-family: 'Roboto';
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .address-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.address-list .contact:hover,
.address-list .contact:focus {
  color: var(--accent-color);
}

.street {
  color: var(--secondary-color);
  font-family: 'Roboto';
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 9px;
}

.mail {
  text-align: center;
  margin-bottom: 9px;
}

.phone {
  text-align: center;
}

.contact {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-style: normal;
  font-family: 'Roboto';
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-subtitle {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  color: var(--secondary-color);
  margin-bottom: 20px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

@media screen and (max-width: 1199.98px) {
  .footer-subtitle {
    text-align: center;
  }
}

@media screen and (max-width: 767.98px) {
  .footer-social-box {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-social-box {
    margin-left: 70px;
  }
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 1200px) {
  .footer-adress {
    width: 231px;
  }
}

.portfolio {
  background-color: var(--secondary-color);
  padding-top: 89px;
  padding-bottom: 99px;
}

@media screen and (max-width: 1199.98px) {
  .portfolio {
    padding-top: 40px;
    padding-bottom: 60px;
  }
}

.portfolio-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

@media screen and (max-width: 767.98px) {
  .portfolio-list {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .portfolio-list {
    margin-bottom: 30px;
  }
}

.portf-link:not(:last-child) {
  margin-right: 8px;
}

@media screen and (min-width: 480px) and (max-width: 767.98px) {
  .portf-link:nth-child(3) {
    margin-right: 0;
  }
}

@media screen and (max-width: 767.98px) {
  .portf-link:nth-child(-n + 3) {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 479.98px) {
  .portf-link:nth-child(-n + 5) {
    margin-bottom: 15px;
  }
}

.card-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .card-list {
    margin: -15px;
  }
}

.work-list {
  margin-bottom: 30px;
  background-color: var(--secondary-color);
}

@media screen and (min-width: 480px) {
  .work-list {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .work-list {
    width: 354px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .work-list {
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .work-list {
    width: 370px;
    margin-right: 30px;
  }
  .work-list:nth-child(3n + 3) {
    margin-right: 0;
  }
  .work-list:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 767.98px) {
  .work-list:not(:last-child) {
    margin-bottom: 30px;
  }
}

.work-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-decoration: none;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  height: 100%;
}

.work-link:hover, .work-link:focus {
  -webkit-box-shadow: 0px 4px 4px 0px #00000040;
          box-shadow: 0px 4px 4px 0px #00000040;
}

.work-link:hover .work-overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.work-link:focus .work-overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.work-thumb {
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.work-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 63px 24px;
}

@media screen and (max-width: 479.98px) {
  .work-overlay {
    overflow-y: scroll;
  }
}

.work-description {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.03em;
  width: 322px;
  height: 168px;
  color: var(--secondary-color);
}

@media screen and (max-width: 479.98px) {
  .work-description {
    width: 100%;
    height: 100%;
    padding: 10px;
  }
}

@media screen and (max-width: 767.98px) {
  .work-list:nth-child(3n) {
    margin-right: 0;
  }
}

.card-description {
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
  border-right: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.subtitle-work {
  color: var(--tittle-color);
  text-decoration: none;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.text-work {
  color: var(--main-text-color);
  font-family: 'Roboto';
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
}
/*# sourceMappingURL=main.css.map */