:root {
    
    --main-text-color: #757575;
    --tittle-color: #212121;
    --secondary-color: #ffffff;
    --accent-color: #2196f3;
    --hero-bkg-color: #2f303a;
    --hover-button-color: #188ce8;
    --bkg-color: #f5f4fa;
    --border-color: #eeeeee;
    --header-border-color: #ececec;
    --icon-fill-color: #afb1b8;
}