.benefits {
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (min-width: 1200px) {
            padding-top: 94px;
            padding-bottom: 94px;
        }
   
}

.benefits__list {
   
    @media screen and (min-width: 768px) {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;           
    
    }

        @media screen and (min-width: 1200px) {
            display: flex;
        }
}

.benefits__item {
    display: block;

    @media screen and (max-width: 767.98px) {
            margin-bottom: 30px;
        }

    @media screen and (min-width: 768px) {
            width: 354px;
            

        }

    @media screen and (min-width: 1200px) {
            width: 270px;
                }  
    

}

.benefits__item:not(:nth-child(2n)){
@media screen and (min-width: 768px) {
        margin-right: 30px;
    }
}

.benefits-icon {
    display: flex;
    height: 120px;
    align-items: center;
    justify-content: center;
    background-color: var(--bkg-color);
    background-size: cover;
    margin-bottom: 30px;
}

.benefits-icon__subtitle {
    color: var(--tittle-color);
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
     margin-bottom: 10px;

    @media screen and (max-width: 767.98px) {
            text-align: center;
        }
}

.benefits-icon__text {
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.item:not(:last-child) {
    @media screen and (min-width: 1200px) {
            margin-right: 30px;
        }
    
}