.clients {
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (min-width: 1200px) {
            padding-top: 94px;
             padding-bottom: 94px;
        }
    
}

.clients__list{
    display: flex;
    flex-wrap: wrap;
   
    justify-content: center;

    @media screen and (max-width: 479.98px) {
            margin: -15px;
        }
    
    

    @media screen and (min-width: 1200px) {
            flex-wrap: nowrap;
        }
}

.clients__item{
    @media screen and (max-width: 479.98px) {
            margin: 15px;
            flex-basis: calc((100% - 60px) / 2);
            
        }
                
}


.clients__item:not(:nth-child(2n)){
    @media screen and (min-width: 480px) and (max-width: 767.98px)  {
            margin-right: 30px;
        }

}

.clients__item:not(:nth-child(3n + 3)){
    @media screen and (min-width: 768px) {
        margin-right: 30px;
        

    }
}


.clients__item:not(:nth-child(n+4)){
@media screen and (min-width: 480px) and (max-width: 1199.98px) {
        margin-bottom: 30px;
    }
   
    
}

.clients__item:not(:last-child) {
    @media screen and (min-width: 1200px) {
        margin-right: 30px;
    }

}


.clients__link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 92px;

    @media screen and (max-width: 767.98px) {
            width: 210px;
            
        }

    @media screen and (min-width: 768px) {
            width: 226px;
        }

    @media screen and (min-width: 1200px) {
            width: 170px;
                }
        
    border: 1px solid var(--icon-fill-color);
    border-radius: 4px;
    color: var(--icon-fill-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus{
            color: var(--accent-color);
            border-color: solid var(--accent-color);
        }
}


 .clients__icon {
    
 fill: currentColor;
 }

