.hero {
    background-color: var(--hero-bkg-color);

    @media screen and (max-width: 1199.98px) {
            padding-top: 118px;
            padding-bottom: 118px;
        }

        @media screen and (min-width: 1200px) {
            padding-top: 200px;
            padding-bottom: 200px;
        }
    
    text-align: center;

    max-width: 1600px;
    
    margin-left: auto;
    margin-right: auto;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        
        @media screen and (max-width: 767.98px) {
            background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                url(../img/hero-photo-sm.jpg);

                @media (min-device-pixel-ratio: 2),
                    (min-resolution: 192dpi),
                    (min-resolution: 2dppx) {
                        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                                url(../img/hero-photo-sm@2x.jpg);
                    }
                   }
        
         @media screen and (min-width: 768px) {
            background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                    url(../img/hero-photo-md.jpg);

            @media (min-device-pixel-ratio: 2),
                (min-resolution: 192dpi),
                (min-resolution: 2dppx) {
                    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                        url(../img/hero-photo-md@2x.jpg);
                }
          }
                
          @media screen and (min-width: 1200px) {
                    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                            url(../img/hero-photo-lg.jpg);

                @media (min-device-pixel-ratio: 2),
                    (min-resolution: 192dpi),
                    (min-resolution: 2dppx) {
                        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                            url(../img/hero-photo-lg@2x.jpg);
                    }
                }
    
}

.tittle {
    color: var(--secondary-color);
    font-family: 'Roboto';
    font-weight: 900;
    
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-bottom: 30px;

    @media screen and (min-width: 480px) {
            font-size: 26px;
                line-height: 1.62;
        }

     @media screen and (min-width: 1200px) {
            font-size: 44px;
            line-height: 1.36;
         }
}

