.portfolio {
  background-color: var(--secondary-color);

  @media screen and (max-width: 1199.98px) {
    padding-top: 40px;
    padding-bottom: 60px;
  }

  padding-top: 89px;
  padding-bottom: 99px;
}

.portfolio-list {
  @media screen and (max-width: 767.98px) {
    
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 40px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199.98px) {
    margin-bottom: 30px;
  }

  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.portf-link:not(:last-child) {
  margin-right: 8px;
}

.portf-link:nth-child(3) {
  @media screen and (min-width: 480px) and (max-width: 767.98px) {
    margin-right: 0;
  }
}

.portf-link:nth-child(-n + 3) {
  @media screen  and (max-width: 767.98px) {
    margin-bottom: 15px;
  }
}

.portf-link:nth-child(-n + 5) {
  @media screen and (max-width: 479.98px) {
    margin-bottom: 15px;
  }
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  @media screen and (min-width: 768px) and (max-width: 1199.98px) {
  margin: -15px;
  }
}

.work-list {
  @media screen and (min-width: 480px) {
    width: 100%;
  }

  @media screen and (min-width: 768px) {
    width: 354px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199.98px) {
    
    margin: 15px;
  }

  @media screen and (min-width: 1200px) {
    width: 370px;
    margin-right: 30px;
    &:nth-child(3n + 3) {
      margin-right: 0;
    }

    &:nth-last-child(-n + 3) {
      margin-bottom: 0;
    }
  }

  @media screen and (max-width: 767.98px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

   margin-bottom: 30px;
  background-color: var(--secondary-color);
}

.work-link {
  
  display: flex;
  flex-direction: column;
  text-decoration: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  height: 100%;

  &:hover,
  &:focus {
    box-shadow: 0px 4px 4px 0px #00000040;
  }
}

.work-link:hover .work-overlay {
  transform: translateY(0);
}

.work-link:focus .work-overlay {
  transform: translateY(0);
}

.work-thumb {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.work-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 63px 24px;
  
  @media screen and (max-width: 479.98px) {      
      overflow-y: scroll;
      }
    
}

.work-description {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.03em;

  width: 322px;
  height: 168px;

  color: var(--secondary-color);

  @media screen and (max-width: 479.98px) {
        width: 100%;
        height: 100%;
        padding: 10px;
    }
}

.work-list:nth-child(3n) {
  @media screen and (max-width: 767.98px) {
    margin-right: 0;
  }
}

.card-description {
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
  border-right: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);

 
        flex-grow: 1;
  
}

.subtitle-work {
  color: var(--tittle-color);
  text-decoration: none;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.text-work {
  color: var(--main-text-color);
  font-family: 'Roboto';
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
}
