.team {
  background-color: var(--bkg-color);

  @media screen and (max-width: 1199.98px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team-list {
  @media screen and (min-width: 480px) {
    display: flex;
  }

  @media screen and (min-width: 480px) and (max-width: 767.98px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  @media screen and (min-width: 768px) {
    flex-wrap: wrap;
  }
}

.team-item {
  background-color: var(--secondary-color);
  padding-bottom: 30px;
  border: transparent;
  box-shadow: 0px 4px 4px 0px #00000040;

  @media screen and (min-width: 480px) and (max-width: 767.98px) {
      width: 450px;  
      
    }

  @media screen and (max-width: 767.98px) {
        &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1199.98px) {
    width: 354px;

    margin-right: 30px;
    margin-bottom: 30px;

    &:nth-last-child(-n + 2) {
      margin-bottom: 0;
    }

    &:nth-child(2n) {
      margin-right: 0;
    }
  }

  @media screen and (min-width: 1200px) {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.image-team {
  @media screen and (min-width: 1200px) {
    width: 270px;
    height: 260px;
  }

  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
}

.subtitle-team {
  color: var(--tittle-color);
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  text-align: center;
}

.text {
  font-family: 'Roboto';
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 16px;
}
