// logo header
.logo {
    @media screen and (max-width: 1199.98px) {
            margin-right: 88px;
            font-size: 24px;
            line-height: 1.17;
        }
    display: block;
    color: #000000;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 24px;
}

.logoweb {
    color: var(--accent-color);
}

// logo footer

.logofooter {
    color: var(--secondary-color);
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    margin-bottom: 20px;
    

    @media screen and (max-width: 1199.98px) {
            text-align: center;
        }
}