.mob-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 48px 40px;

  display: none;
  flex-direction: column;

  background-color: #ffffff;

  overflow-y: scroll;

  &.is-open {
    display: flex;
  }
}

.mob-menu-nav-list {
  @media screen and (max-width: 767px) {
    font-family: Roboto;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    color: var(--tittle-color);
  }
}

.mob-menu-nav-link {
  @media screen and (max-width: 767px) {
    color: inherit;
  }
}

.mob-menu-nav-item {
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }
}

.mob-menu-contact-list {
  margin-top: auto;
  margin-bottom: 64px;
}

.mob-menu-contact-item {
  margin-bottom: 32px;
}

.mob-menu-contact-link-tel {
  @media screen and (max-width: 767px) {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.17;
    color: var(--accent-color);
  }
}

.mob-menu-contact-link-mail {
  @media screen and (max-width: 767px) {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    color: var(--main-text-color);
  }
}

.mob-menu-social-list {
  @media screen and (max-width: 767px) {
    display: flex;
  }
}

.mob-menu-social-item {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  color: var(--accent-color);

  &:not(:last-child) {
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    margin-right: 10px;
  }
}

.mob-menu-social-link {
  color: inherit;
}

.mob-btn {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;

  //   &.mob-btn .icon-close {
  //     display: none;
  //   }

  //   &.mob-btn.is-open .icon-close {
  //     display: block;
  //   }

  //   &.mob-btn.is-open .icon-menu {
  //     display: none;
  //   }
}

.mob-menu-thumb {
  position: relative;
}

.mob-menu-btn {
  position: absolute;
  //   display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  top: 0;
  left: 0;
}
