.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000033;

  z-index: 10;

  transition: opacity 500ms, visibility 500ms;

  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  overflow-y: scroll;
}

.backdrop.is-hidden .modal-wrapper {
  transform: translate(-50%, -50%) scale(0.5);
  opacity: 0;
}

.backdrop .modal-wrapper {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}

.modal-wrapper {

  @media screen and (max-width: 479.98px) {
      width: 100%;
      
    }

        @media screen and (max-width: 767.98px)  {
          top: 55%;
        }

        @media screen and (min-width: 768px) {
          top: 50%;
        }

  @media screen and (min-width: 480px) and (max-width: 1199.98px) {
    width: 450px;
    height: 609px;   

  }

   
  @media screen and (min-width: 1200px) {
    width: 528px;
    height: 581px;
    
  }

  position: absolute;  
  left: 50%;
  background-color: var(--secondary-color);
  border-radius: 4px;
  padding: 40px;

  transition: transform 400ms ease-in-out 200ms, opacity 400ms ease-in-out 200ms;
}

.wrapper-text {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.17;
  color: #212121;
  margin-bottom: 12px;
}
