// Common parameters

body {
    background-color: var(--secondary-color);
    font-family: Roboto, sans-serif;
    color: var(--main-text-color);
    font-size: 14px;
}

.container {
    padding-left: 15px;
    padding-right: 15px;    
    margin-left: auto;
    margin-right: auto;
   
  @media screen and (min-width: 480px) {
      width: 480px;      
  }

  @media screen and (min-width: 768px) {
      width: 768px;
  }
  
  @media screen and (min-width: 1200px) {
    width: 1200px;
  }   

}

.subtitle {
    color: var(--tittle-color);
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 30px;
    
    @media screen and (min-width: 1200px) {
            margin-bottom: 50px;
            font-size: 36px;
        }
        
}





